<header class='header'>
    <div class='logo'>
        <h3>Gestiones Autoservicio Más</h3>
    </div>
    <nav>
        <ul>
            <li><a href="/users/signup">Crear Cuenta</a></li>
            <li><a href="/users/signin">Iniciar Sesión</a></li><br>
        </ul>
        <ul>
            <li><a href="/posts">Publicaciones</a></li>
            <li><a href="/posts/add">Crear Publicación</a></li>
            <li><a href="/users/logout">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>


<br><br><br>
<div id="message"></div>
<div class="card">
    <div class="card-body">
        <h2>Creación de Notas</h2>
        <h5>En el entorno dinámico de un supermercado, la creación de notas emerge como una herramienta esencial para la
        comunicación interna. Esta funcionalidad permite a los usuarios generar mensajes destinados a transmitir
        información significativa y variada. Desde recordatorios que agilizan las tareas diarias hasta mensajes
        importantes que requieren atención inmediata, pasando por actualizaciones cruciales de políticas internas, la
        creación de notas se convierte en el epicentro de la colaboración eficiente entre los miembros del equipo.</h5><br><br>
        
        <h5>- Tareas Principales -<br>
        • Crear posts para indicar la necesidad de reponer ciertos productos en el inventario. Esto puede incluir
        detalles como la cantidad requerida y la ubicación dentro de la tienda.<br><br>
        • Dejar notas o crear posts para registrar la llegada de proveedores. Esto ayuda a mantener un seguimiento del
        suministro y facilita la gestión de inventario.<br><br>
        • Utilizar el programa para registrar manualmente cualquier transferencia fallida de productos entre clientes
        o con proveedores. Esto proporciona un historial detallado de eventos y puede ayudar a identificar problemas
        y soluciones.
        <br><br>
        </h5>
    </div>
</div>