<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Crear Cuenta
            </div>
            <div class="card-body">
                <form action="/users/signup" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Ingrese su nombre" value="{{name}}">
                    </div><br>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Ingrese su email" value="{{email}}">
                    </div><br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Ingrese una contraseña" value="{{password}}">
                    </div><br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Ingrese nuevamente la contraseña" value="{{confirm_password}}">
                    </div><br>
                        <button type="submit" class="btn btn-primary btn-block">
                            Registrarse  
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>